<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/XDSSwift.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.youmi.dev</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: mu he (FX98SJ5KRZ)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2016-08-05T14:24:13Z</date>
	<key>DefaultToolchainInfo</key>
	<dict>
		<key>DisplayName</key>
		<string>Xcode 7.3 Default</string>
		<key>Identifier</key>
		<string>com.apple.dt.toolchain.XcodeDefault</string>
	</dict>
	<key>Name</key>
	<string>XDSSwift</string>
	<key>SchemeName</key>
	<string>XDSSwift</string>
</dict>
</plist>
